@* @{
    ViewData["Title"] = "Home Page";
} *@

<div class="text-center">
    @* <h1 class="display-4">Welcome - @ViewBag.Message</h1> *@
    <h1 class="display-4">CMS</h1>
    <h2 class="display-4">Bem vindo ao sistema</h2>
    <h2 class="display-4">@ViewBag.nome</h2>
    <p>Este é um sistema de treinamento  <a target="_blank" href="http://www.torneseumprogramador.com.br">http://www.torneseumprogramador.com.br</a>.</p>
</div>
